.slide {
  margin: 10px;
  .blurb {
    font-size: 18px;
  }
  .Image {
    left: -30%;
    width: 100%;
    position: absolute;
    margin: 250px 200px 200px 200px;
    box-shadow: 10px 0px 30px 30px #0c0c37;
  }
}
