/* contact form */
.form-contact {
  width: 100%;
  margin-top: 20px;
  /* Styles list of inputs */
  ul {
    padding: 0;
    margin: 0;
    /* Styles list of inputs */
    li {
      padding: 0;
      margin: 0;
      list-style: none;
      margin-bottom: 10px;
      overflow: hidden;
      display: block;
      position: relative;
      opacity: 0;
      animation: fadeInUp 2s 2s;
      animation-fill-mode: forwards;
      clear: both;
    }
    li.first-half {
      width: 307px;
      margin-left: 2%;
      float: left;
      clear: none;

      &:first-child {
        margin-left: 0;
      }
    }
  }
  /* Styles email and name inputs */
  input[type='text'],
  input[type='email'] {
    width: 100%;
    border: 0;
    background: #0c0d39;
    height: 50px;
    font-size: 18px;
    color: white;
    padding: 0 20px;
    box-sizing: border-box;
  }
  /*Styles textarea section */
  textarea {
    width: 100%;
    border: 0;
    background: #0c0d39;
    height: 50px;
    color: white;
    padding: 20px;
    min-height: 145px;
    box-sizing: border-box;
  }
  /* Styles flat submit button */
  .flat-button {
    color: white;
    font-size: 12px;
    letter-spacing: 3px;
    text-decoration: none;
    padding: 8px 10px;
    border: 1px solid #5e62d3;
    float: left;
    border-radius: 4px;
    background: 0 0;
    text-transform: uppercase;
    float: right;
    text-align: center;
    margin-right: 10px;
  }
}
.info-map {
  position: absolute;
  background-color: #0c0d39;
  top: 50px;
  right: 30%;
  z-index: 999999;
  width: 267px;
  padding: 20px;
  color: white;
  font-size: 18px;
  opacity: 0;
  animation: fadeIn 1s 1.5s;
  animation-fill-mode: forwards;
  span {
    font-size: 22px;
    color: #5e62d3;
    display: block;
    padding-top: 20px;
  }
}
.map-wrap {
  background: rgba(8, 253, 216, 0.1);
  float: right;
  width: 33%;
  height: 80%;
  margin-top: -3%;
}
.leaflet-container {
  width: 100%;
  height: 100%;
  position: relative;
  opacity: 0;
  animation: backInRight 1s 1.2s;
  animation-fill-mode: forwards;
}
